@{
    ViewData["Title"] = "Error";
}

@using BrewFree.ViewModels.Shared
@model ErrorViewModel

<div class="jumbotron">
    <h2>Hold my beer.  Something went wrong! :(</h2>
    <p class="lead text-left">
        @if (!string.IsNullOrEmpty(Model.Error))
        {
            <strong>@Model.Error</strong>
        }
        @if (!string.IsNullOrEmpty(Model.Description))
        {
            <small>@Model.Description</small>
        }
    </p>
</div>
